<div class="admin_form">
  <%= form_for :brand, url: admin_brand_path(@brand), method: :put do |form| %>

    <p>Update car brand</p>
    <p>Brand
      <%= form.text_field :brand_name %></p>
    <p><%= form.submit 'Update car brand'%></p>
  <% end %>
</div>
