<div class="admin_form">
  <%= form_for :brand, url: admin_brands_path do |form| %>

    <p>Add car brand</p>
    <p>Brand
      <%= form.text_field :brand_name %></p>
    <p><%= form.submit 'Add car brand'%></p>
  <% end %>
</div>
