<div class="admin_form">
  <%= form_for :break_category, url: admin_break_category_path(@break_category), method: :put do |form| %>

    <p>Оновити категорію поломки авто</p>
    <p>Назва категорії
      <%= form.text_field :name %></p>
    <p><%= form.submit 'Оновити категорію поломки авто'%></p>
  <% end %>
</div>
