<div class="admin_form">
  <%= form_for :break_category, url: admin_break_category_path(@break_category), method: :put do |form| %>
    <p>Update destroy caregory</p>
    <p>Category name
      <%= form.text_field :break_category_name %></p>
    <p><%= form.submit 'Update destroy caregory'%></p>
  <% end %>
</div>
