<div class="admin_form">
  <%= form_for :break_category, url: admin_break_categories_path do |form| %>

    <p>Додати нову категоряю поломки авто</p>
    <p>Назва категорії
      <%= form.text_field :name%></p>
    <p><%= form.submit 'Додати нову категорію'%></p>
  <% end %>
</div>
