<div class="admin_form">
  <%= form_for :car, url: admin_car_model_path(@car), method: :put  do |form| %>
    <p>Car information</p>
    <p>Model
      <%= form.text_field :model %></p>
    <p><%= form.submit 'Update car model' %></p>
  <% end %>
</div>
