<div class="admin_form">
  <%= form_for :car, url: admin_car_models_path do |form| %>

    <p>Car information</p>
    <p>Brand
      <%= form.select("brand_id", Brand.all.collect{|p| [ p.brand_name, p.id] }) %>
    </p>
    <p>Model
      <%= form.text_field :model %></p>
    <p><%= form.submit 'Add new car' %></p>
  <% end %>
</div>
