<div class="admin_form">
  <%= form_for :sub_category, url: admin_break_sub_category_path(@sub_category), method: :put do |form| %>
    <p>Оновити назву поломки авто</p>
    <p>Назва поломки авто
      <%= form.text_field :break_sub_category_name %></p>
      <p>Ціна
        <%= form.text_field :price %></p>
    <p><%= form.submit 'Оновити назву поломки авто'%></p>
  <% end %>
</div>
