<div class="admin_form">
  <%= form_for :break_sub_category, url: admin_break_sub_category_path(@break_sub_category), method: :put do |form| %>
    <p>Update destroy</p>
    <p>Destroy name
      <%= form.text_field :break_sub_category_name %></p>
      <p>Price
        <%= form.text_field :price %></p>
    <p><%= form.submit 'Update destroy'%></p>
  <% end %>
</div>
