<div class="admin_form">
  <%= form_for :break_sub_category, url: admin_car_model_path(@car), method: :put  do |form| %>
    <p>Інформація поломку авто</p>
    <p>Назва поломки
      <%= form.text_field :break_sub_category_name %></p>
      <p>Ціна поломки
        <%= form.text_field :price %></p>
    <p><%= form.submit 'Редагувати інформацію про поломку авто' %></p>
  <% end %>
</div>
