<div class="about">
<h2>About Car Service</h2>
<p>Repairing a car is both pain and joy at the same time
motorists Today, especially in big cities, is a problem
Record in specialized repair services of cars.</p>
<p>The main priority of the website is simple and easy
clear interface for recording on the service station. Online customer registration in
The car-care center makes it easy to work both for clients and owners of car-care centers.
The customer chooses the car service he needs, introduces the name of the breakdown, the brand,
model and year of issue of a car and convenient time for repair of its car. Whereupon
sends a request to the car service.</p>
<p>After sending a request for repair to the customer, the owner of the car service
comes a new email on repair orders auto. The owner or service manager must check whether the selected time
the car service will be free and confirm the registration or reject the request. For
Additional communication with the client can use the client contacts which
come together in a message when recording for repairs.</p>
<p>The user can choose a car service, send a request for repair, and
the owner of the car service has the ability to accept the order or reject it.
A message about the customer's entry to the car service comes to the owner's email
service.</p>
<h5>Contacts</h5>
<p>developer: Oleg Bandura</p>
<p>E-mail: Bomber.qw@gmail.com</p>
<p>Phone: +380970071922</p>
<h5>Best regards Car Service developer.</h5>
</div>
