// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.order{

}

.select-car{
  padding: 10px;
  display: block;
}

.add-new-car{

  padding: 10px;
  display: block;
}

button.link {

  overflow: visible;
  width: auto;

  margin: 0;
  padding: 0;

  background: none;
  border: none;

  cursor: pointer;
}

button.link span {
  color: #00f;
  text-decoration: underline;
}
