// Place all the styles related to the services controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.preview_service{
  height: auto;
  width: 13rem;
  padding: 5px;
  display: inline-block;
}
